
button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


button:hover {
  background-color: #0056b3; 
}


.green {
  background-color: #4caf50;
}


.blue {
  background-color: #007bff;
}


.red {
  background-color: #f44336; 
}

